$bg-index: -1;
$mg-index: 0;
$fg-index: 1;

$lightBlue: #609EE9;
$darkBlue: #518BDE;
$almostBlack: #303030;
$lightGray: #E6E6E6;
$yellow: #F7D754;

$font-title: 'Montserrat', sans-serif;
$font-main: 'Roboto Condensed', sans-serif;

.grid {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: repeat(4, minmax(200px, 1fr));
    grid-template-columns: repeat(11, minmax(150px, 1fr));
    grid-gap: 0px;

    &__title {
        z-index: $mg-index;

        color: white;
        font-size: 18px;
        font-family: $font-title;
        font-weight: 300;
        line-height: 22px;

        margin: 55px 75px;

        grid-row: 1;
        grid-column: 1/4;
        justify-self: center;
    }

    &__remaining {
        color: $almostBlack;
        font-family: $font-title;
        font-size: 22px;
        font-weight: 300;
        text-align: center;

        margin-top: 33px;

        grid-column: 1/-1;
        grid-row: 4/-1;
    }

    button:hover {
        cursor: pointer;
    }
}