.change-date {
    background-color: transparent;

    color: white;
    font-size: 22px;
    font-family: $font-main;
    font-weight: 100;
    line-height: 19px;
    text-align: center;

    border: none;

    transform: rotate(-72deg) translate(0, -50px);

    grid-row: 2/3;
    grid-column: 4/6;
    justify-self: start;

    &:focus {
        outline: none;
    }

    .fas {
        margin-right: 5px;
    }
}