.picker {
    z-index: $fg-index;

    padding-bottom: 50px;

    grid-column: 5/9;
    grid-row: 2/3;
    justify-self: center;
    align-self: end;

    &__input {
        background-color: transparent;
    
        color: $almostBlack;
        font-size: 83px;
        font-family: $font-main;
        font-weight: bold;
        text-align: center;
    
        border: none;
        border-bottom: 1px solid $yellow;
    
        &:focus {
            outline: none;
        }
    }
}