.picker {
    z-index: $fg-index;

    padding-bottom: 50px;

    grid-column: 5/10;
    grid-row: 2/3;
    justify-self: center;
}

input {
    background-color: transparent;

    color: $almostBlack;
    font-size: 83px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-align: center;

    border: none;
    border-bottom: 1px solid $yellow;

    &:focus {
        outline: none;
    }
}